//首页banner
.item-banner li{
  float: left;
  width: 100%;
  position: relative;
}
.item-banner li a{
  display: block;
  position: relative;
}
.static-banner li a{
  width: 85%;
}
.static-banner-title{
  position: absolute;
  right: 0;
  top:50%;
  z-index: 2;
  @include remCalc(margin-top,-69);
  @include remCalc(width,225);
  @include remCalc(height,138);
}

.banner-box{
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}
.two_li_banner_txt{
  @include remCalc(margin,30);
}
.rotate-banner-box{
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}
.banner-box-wrap{
  overflow: hidden;
}