@import "../base/base.scss";
@import "../base/common/flex.scss";
@import "../moudle/app/header/header.scss";
@import "../moudle/app/common/common.scss";
@import "../moudle/ui/dialog/dialog.scss";
//登录
@import "../moudle/app/oauth/oauth.scss";
body {
  background-color:$cart-bg;
  @include remCalc(padding-bottom,100);
}
.add-address{
  position:fixed;
  left: 0;
  right:0;
  bottom:0;
}
.handle-btn{
  display: block;
  @include remCalc(height,100);
  @include remCalc(line-height,100);
  @include fontDpr(16px);
  text-align: center;
  color:$base-btn-color;
  background-color:$white;
}
.selected-icon{
  @include remCalc(width,80);
  color:$base-color;
}
.address-info-box{
  @include remCalc(padding,30 40 0 30);
}
.selected-address .address-info-box{
  padding-left:0;
}
.icon-phone-font,.icon-address-font{
  color:$base-color;
  @include remCalc(margin-right,15);
}
.flag-address{
  @include remCalc(height,97);
  @include remCalc(line-height,97);
}
.flag-address span{
  color:$base-color;
}
.address-info{
  @include remCalc(padding,0 15 30 0);
  line-height:2;
  color: $gray-color;
}
.address-box{
  background-color: $white;
  @include remCalc(margin-bottom,30);
}
.icon-edit-address{
  font-size:18px;
}