@import "coupon.scss";
.get-coupon-box{
  background: url(../../../../images/second/coupon-price-one.png) no-repeat center;
  background-size: contain;
  @include remCalc(width,578);
  @include remCalc(height,200);
  @include remCalc(line-height,200);
  margin:0 auto;
  text-align: center;
  box-sizing: border-box;
  color: $base-color;
  font-size: 40px;
}
.coupon-operate a{
  background-color: $base-btn-color;
}
.coupon-operate div{
  text-align: left;
}
.telphone-box{
  @include remCalc(padding-left,100);
  @include remCalc(margin,0 30);
  @include remCalc(height,90);
  @include remCalc(line-height,90);
  position: relative;
}
.telphone-box::after{
  content: '+62';
  font-size: 14px;
  position: absolute;
  display: inline-block;
  @include remCalc(height,90);
  @include remCalc(line-height,90);
  left: 0;
  top:0;
}
.telphone-box::before{
  content: '';
  position: absolute;
  height: 1px;
  border-bottom:1px solid $border-color;
  left: -50%;
  right:-50%;
  bottom:-1px;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.telphone{
  width: 100%;
  @include remCalc(height,90);
  @include remCalc(line-height,90);
  @include remCalc(padding,15);
  font-size: 14px;
}
.explain,.past-explain{
  @include remCalc(padding-left,30);
  @include remCalc(margin-top,30);
  @include fontDpr(14px);
}
.coupon-operate div.past-explain{
  @include remCalc(margin-top,30);
  text-align: center;
}

