@import "../base/base.scss";
@import "../moudle/app/header/header.scss";
@import "../moudle/app/common/common.scss";
@import "../moudle/app/item/item.scss";
@import "../moudle/app/contact/contact.scss";
@import "../moudle/app/reduc/reduc.scss";
body{
  background-color: #f5f5f5;
  @include remCalc(padding-bottom,90);
  @include fontDpr(12px);
}
.btn{
  @include remCalc(height,90);
  @include remCalc(line-height,90);
}
.address-box,.logistics-box,.list-box,.order-state,.shop-info-box{
  @include remCalc(padding,0 30);
  background-color: $white;
  @include remCalc(margin-bottom,30);
}
.shop-info-box{
  @include remCalc(padding-bottom,30);
}
.user-info{
  //padding-right: 1rem;
  //line-height: 1.6rem;
}
.user-info i{
  color: $base-btn-color;
  @include fontDpr(14px);
  @include remCalc(margin-right,5);
}
.user-info span.fr{
  color: $base-btn-color;
}
.user-info i.icon-phone-font{
  @include fontDpr(14px);
}
.address-box{
  @include fontDpr(14px);
  @include remCalc(padding,30);
}
.user-address-info{
  line-height: 2;
  color: $gray-color;
  @include remCalc(padding-left,30);
}
.user-address-info i,.logistics-box i,.cart-item i{
  font-size: 18px;
  color: #666;
}
.cart-item i{
  width: auto;
}
.logistics-box{
  font-size: 14px;
  height: 3rem;
  line-height: 3rem;
  padding: .5rem 1rem;
  margin: 2rem 0;
  color: #666;
}
.logistics-box div{
  font-size: 16px;
  display: inline-block;
  height: 3rem;
}
.logistics-box span{
  margin-right: .5rem;
  font-size: 14px;
  display: inline-block;
  height: 3rem;
}
.order-info{
  @include remCalc(padding-bottom,30);
}
.order-info p{
  @include fontDpr(14px);
  @include remCalc(padding-top,30);
  color: $info-color;
}
.order-info p span{
  color: $base-btn-color;
}
.shop-info{
  @include remCalc(padding,20 0);
}
.shop-info img{
  @include remCalc(width,50);
  @include remCalc(height,50);
  border-radius: 50%;
  float:left;
}
.shop-info p{
  @include remCalc(margin-left,72);
  @include remCalc(height,50);
  @include fontDpr(14px);
  color: $black-color;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.empty-cart{
  text-align: center;
  @include remCalc(padding,30);
  @include fontDpr(14px);
}

.order-state > p{
  @include fontDpr(14px);
  @include remCalc(padding,20 0);
  color: $info-color;
}
.order-state > div{
  @include fontDpr(14px);
  @include remCalc(padding,20 0);
  position: relative;
}
.order-state > div p{
  @include fontDpr(12px);
}
.other-state{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
.other-state div{
  line-height: 1.3;
}
.other-state div:first-child{
  min-width: 60px;
}
.order-state > div::after{
  position: absolute;
  left:-50%;
  right: -50%;
  bottom:0;
  height: 1px;
  content: '';
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-bottom: 1px solid #d8d8d8;
}
.logistics-info{
  border-top: #ececec 1px solid;
  padding: .5rem 0;
  line-height: 2.4rem;
  font-size: 14px;
}
.logistics-info a{
  color: #666;
  display: block;
  position: relative;
}
.logistics-info p{
  margin-right:2rem;
}
.logistics-info i{
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1rem;
}
.logistics-info p:nth-child(2){
  color: #43CB9C;
}
.logistics-info p:last-child{
  color: #ccc;
}
.order-state p a{
  display: block;
  color: #666;
}
.order-state i{
  @include fontDpr(12px);
  color: $txt-color;
}
.order-state p:first-child{
  position: relative;
  color:#aaa;
}

.user-info-box:before{
  display: block;
  content:' ';
  height: 2px;
  width: 100%;
  background: url(../../../images/app/divider.png) repeat center center;
}
.href-box a{
  display: inline-block;
  width: 48%;
}
.href-box a div{
  text-align: center;
  background-color: #F5F5F5;
  color: $txt-color;
  @include remCalc(padding,0 45 0);
  @include remCalc(border-radius,8);
  @include remCalc(height,56);
  @include remCalc(line-height,56);
}
.href-box a i{
  color: $base-btn-color;
  float: left;
}
.buyer-note{
  padding: 1rem;
  background-color: #fff;
  margin-bottom: 1rem;
  font-size: 14px;
  color: #666;
}
.prove-btn{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}