.viewer-box{
    position: fixed;
    left: 0;
    top:0;
    bottom: 0;
    right:0;
    background: rgba(0,0,0,1);
    display: none;
}
.viewer-box ul{
    min-width: 100%;
}
.viewer-box li div{
    text-align:center;
    display: table-cell;
    vertical-align: middle;
}
/*.viewer-box img{*/
    /*transform: scale(0);*/
    /*-webkit-transform: scale(0);*/
/*}*/
.viewer-box li{
    float:left;
}