//整个项目中公共的参数
$base-font-size: 72;
$base-color:#000;
$base-bg-color:#F5f5f5;
$base-btn-color:#000;
$add-buy-color:#000;
$btn-color:#000;
$black-color:#333;
$txt-color:#666;
$gray-color:#999;
$bold-color:#515151;
$reminder-color:#B9B9B9;
$disable-color:#ccc;
$border-color:#d8d8d8;
$cancel-btn-bg:#ddd;
$white:#fff;
$info-color:#444;
$btn-disable-color:#eee;
$header-bg-color:#F5f5f5;
$i-color:#aaa;
$error-color:#ff2d2d;
//index首页
$footer-color:#fff;
$footer-num-color:#fff;
$footer-num-bg:#FE685D;
$footer-border-color:#fff;
$nav-text-border-color:#979797;
//detail商品详情页
$contact-color:#000;
$li-bg-color:#F5F5F5;
//购物车页面
$cart-bg:#FAFAFA;