@import "../base/base.scss";
@import "../moudle/app/header/header.scss";
@import "../moudle/app/common/common.scss";
@import "../base/common/flex.scss";
@import "../moudle/app/buyplug/buyplug.scss";
@import "../moudle/ui/dialog/dialog.scss";
@import "../moudle/app/contact/contact.scss";
@import "../moudle/ui/viewer/viewer.scss";
@import "../moudle/ui/arrowslide/arrowbanner.scss";
@import "../moudle/app/reduc/reduc.scss";
@import "../moudle/app/sharecoupon/sharecoupon.scss";
/*3.5 功能4需求 去官网按钮box*/
@import "../moudle/app/index/gowebsite.scss";
//杂
@import "../moudle/app/detail/others.scss";
//商品info
@import "../moudle/app/detail/iteminfo.scss";
//店铺信息
@import "../moudle/app/detail/shopinfo.scss";
//购买按钮
@import "../moudle/app/detail/buybox.scss";
//砍价商品
@import "../moudle/app/detail/bargain.scss";
//登录
@import "../moudle/app/oauth/oauth.scss";

.combination-price li div,.combination-price li{
  box-sizing: border-box;
}
.combination-price{
  border-top:1px solid $border-color;
}
.combination-price li{
  border:1px solid $border-color;
  border-top:none;
  @include remCalc(height,60);
  @include remCalc(line-height,60);
  text-align: center;
}
.combination-price li div:nth-child(1){
  border-right:1px solid $border-color;
}
.combination-price li div:nth-child(2){
  color: $base-color;
}


