/*满减活动*/

.reduc-box {
  color: #666666!important;
  margin-top: 1rem;
}

.reduc-box-line {
  color: #666666!important;
  padding-top: 1.5rem;
  position: relative;
}

.reduc-box i,
.reduc-box-line i {
  color: #F6A623;
}

.reduc-box-info i {
  color: #F6A623;
}

.reduc-box-wrap {
  padding: 1rem 1rem;
  line-height: 2rem;
  position: relative;
}

.reduc-box-line .reduc-box-wrap {
  padding: 0!important;
}

.reduc-box-info {
  width: 90%;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 14px;
}

.reduc-box-go {
  color: #999999!important;
  font-size: 14px;
  /* line-height: 2rem; */
  box-sizing: border-box;
  display: block;
  height: 2rem;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 1rem;
  margin: auto;
}


/*满减优惠*/

.reduc-info {
  color: #666666;
  padding: 1rem 0;
  font-size: 14px;
  position: relative;
}

.reduc-info p span {
  color: #F5A623;
}

.reduc-box-line:before {
  position: absolute;
  left: -50%;
  right: -50%;
  top: 0;
  height: 1px;
  content: '';
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-bottom: 1px solid #d8d8d8;
}

.total-box .reduc-info:before {
  position: absolute;
  left: -50%;
  right: -50%;
  top: 0;
  height: 1px;
  content: '';
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-bottom: 1px solid #d8d8d8;
}

.reduc-expire {
  font-size: 14px;
  margin-top: 3px;
  color:#999999;
}

.reduc-rule-list {
  list-style: none;
}

.reduc-rule-list span {
  width: .5rem;
  height: .5rem;
  background: #999999;
  display: inline-block;
  border-radius: 50%;
  margin-right: .75rem;
  line-height: .75rem;
  margin-bottom: 2px;
}

.reduc-rule-list li:last-child {
  margin-top: .75rem;
}

.reduc-rule-list li:last-child span {
  background: #ffffff;
}