<div class="favorable-box clearfix" data-spider="favorabl_box">
    {{lang.H5_COUPON}}
    <div class="fr">
        <i class="icon iconfont fr icon-go-font"></i>
        <span class="j_favorable_price" data-code="" data-price="">{{lang.H5_FAVORABLE_FILL_CODE}}</span>
    </div>
</div>