@import "../base/base.css";
@import "../moudle/app/header/header.css";
@import "../moudle/ui/dialog/dialog.css";
@import "../moudle/app/common/common.css";
@import "../moudle/app/address/address.css";
html{
    height: 100%;
}
body{
    background-color: #F5F5F5;
    /*overflow: hidden;*/
    height: 100%;
    width: 100%;
    max-width: none;
}
body .address-list{
    max-width: none;
}
.user-info,.user-address{
    background-color: #fff;
}
.info-box{
    color: #aaa;
    font-size: 1.4rem;
    padding:1rem 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    /*border-bottom: 1px solid #ececec;*/
    position: relative;
}
/*.info-box::after{*/
    /*position: absolute;*/
    /*left:-50%;*/
    /*right: -50%;*/
    /*bottom:0;*/
    /*height: 1px;*/
    /*content: '';*/
    /*-webkit-transform: scale(0.5);*/
    /*transform: scale(0.5);*/
    /*border-bottom: 1px solid #d8d8d8;*/
/*}*/
/*.user-tel::after{*/
    /*height: 0;*/
    /*border-bottom: none;*/
/*}*/
.info-box input{
    color: #666;
    font-size: 1.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    width: 100%;
}
.info-box-address{
    padding:1rem 2rem;
}
.info-box-address textarea{
    width: 100%;
    resize: none;
    height: 10rem;
    font-size: 1.4rem;
}
.user-info{
    /*margin-bottom:2rem;*/
}
.tel-msg-txt{
    padding: 1rem;
    color: #999;
    position: relative;
}
/*.tel-msg-txt:after{*/
    /*position: absolute;*/
    /*left:-50%;*/
    /*right: -50%;*/
    /*bottom:0;*/
    /*height: 1px;*/
    /*content: '';*/
    /*-webkit-transform: scale(0.5);*/
    /*transform: scale(0.5);*/
    /*border-bottom: 1px solid #d8d8d8;*/
/*}*/
.act{
    color: #333;
}
.act i{
    color: #999;
}

.address-form-box{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.address-wraper{
    height: 100%;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.user-tel{
    position: relative;
}
.user-tel span{
    position: absolute;
    color: #333;
}
.user-tel input{
    padding-left: 3rem;
}