@import "../base/base.css";
@import "../moudle/app/header/header.css";
@import "../moudle/app/common/common.css";
html{
    height: 100%;
}
body{
    background-color: #F5F5F5;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.user-info,.user-address{
    background-color: #fff;
}
.info-box{
    color: #aaa;
    font-size: 1.4rem;
    padding:1rem;
    height: 2.4rem;
    line-height: 2.4rem;
    border-bottom: 1px solid #ececec;
}
.user-tel{
    border-bottom: none;
}
.info-box input{
    color: #666;
    font-size: 1.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    width: 100%;
}
.info-box-address{
    padding:1rem;
}
.info-box-address textarea{
    width: 100%;
    resize: none;
    height: 10rem;
    font-size: 1.4rem;
}
.user-info{
    margin-bottom:2rem;
}
.act{
    color: #999;
}
.address-form-box{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.address-list-box{
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction:column;
    flex-direction:column;
    overflow: hidden;
    -webkit-align-items: flex-start;
    align-items:flex-start;
    z-index: 10;
}
.address-list{
    width: 100%;
    -webkit-overflow-scrolling : touch;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-order: 2;
    order:2;
}
.address-header-nav{
    width: 100%;
    min-height: 4.6rem;
    -webkit-order:1;
    order:1;
}
.address-header-nav i{
}
.show{
    transition-duration: .6s;
    transform:translate3d(0,0,0);
    -webkit-transition-duration: .6s;
    -webkit-transform:translate3d(0,0,0);
}
.hide{
    transition-duration: .6s;
    transform:translate3d(100%,0,0);
    -webkit-transition-duration: .6s;
    -webkit-transform:translate3d(100%,0,0);
}
.address-list >div div{
    color: #333;
    font-size: 1.4rem;
    padding:1rem;
    height: 2.4rem;
    line-height: 2.4rem;
    position: relative;
}
.address-list div:after{
    content: ' ';
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ececec;
}
.address-list div:last-child::after{
    display:none ;
}
.list-box{
    width: 100%;
    overflow-x:hidden;
}