@import "../base/base.css";
@import "../moudle/app/header/header.css";
@import "../moudle/app/common/common.css";
@import "../moudle/ui/dialog/dialog.css";
@import "../moudle/app/sharecoupon/sharecoupon.css";

.test {
    box-sizing: border-box;
    vertical-align: middle;
}
.j_dialog_login_line,
.j_dialog_login_facebook {
    width: 90%;
    height: 3.9rem;
    line-height: 3.9rem;
    border-radius: 2px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}
.j_dialog_login_line {
    background: #00B900;
}

.j_dialog_login_facebook {
    background: #3B589C;
}
.bargain-origin-price {
    font-size: 14px;
    opacity: 0.5;
    display: table-cell;
    vertical-align: middle;
    text-decoration: line-through;
}
.bargain-origin-price-sku {
    font-size: 14px;
    opacity: 0.5;
    vertical-align: middle;
    text-decoration: line-through;
}
.icon-share-facebook {
    color:#667EB9;
}
.bargain-price {
    min-height: 1.8rem;
}
.bargain_inv_operate a {
    width: 25%;
}
.bargain-howprice-wrap {
    text-align: center;
}

.bargain-howprice-wrap p img {
    width: 5rem;
    height: 5rem;
}
.j_btn_confrim_bargain_price {
    width: 100%;
    margin: 0 auto;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    margin-top: 2rem;
    color: #ffffff;
    font-size: 16px;
    background: #F5A623;
    border-radius: 2px;
}

.j_btn_confrim_to_shop {
    width: 100%;
    margin: 0 auto;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    margin-top: 0.725rem;
    color: #ffffff;
    font-size: 16px;
    background: #43CB9B;
    border-radius: 2px;
}

.bargain-amplitude-price-tip {
    font-size: 16px;
    color: #444444;
}

.bargain-amplitude-price {
    font-weight: 400;
    font-size: 24px;
    color: #444444;
}
