@import "../base/base.css";
@import "../moudle/app/header/header.css";
@import "../moudle/app/common/common.css";
@import "../moudle/ui/dialog/dialog.css";
@import "../moudle/app/item/item.css";
body {
    background: #FAFAFA;
}
.cart-list{
    padding:0 1rem 2rem;
}
.confirm-btn{
    margin-top:2rem;
}
.empty-cart{
    text-align: center;
    font-size: 16px;
    margin-top: 2rem;
    color: #999;
}
.cart-supplier-list {
    padding:0;
}
.cart-supplier-card {
    background: #FAFAFA;
    color: #666666;
    padding-bottom:2.4rem;
}
.cart-supplier-card button {
    margin: 0 auto;
    margin-top: 1rem;
    width: 28rem;
}
.cart-supplier-card ul {
    padding:0 1rem;
}
.cart-supplier-card .j_del_cart {
    color: #FF5722;
}
.cart-supplier-header {
    background: #fff;
    height: 4rem;
    line-height: 4rem;
    padding: 0 1rem;
}
.cart-supplier-header i {
    color:#43CB9C;
    margin-right: 1.25rem;
}
.icon-warehourse {
    font-size: 18px;
}
.hide {
    display: none;
}
.no_goods_box {
    padding: 0 1rem;
}