/*模版页样式表*/
@import "../base/base.css";
html,body {
    font-family: Roboto-Regular;
    height:100%;
    background: #333333;
}
.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-avg {
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
}
.decorate-sample-tab {
    background: #F5F5F5;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: -0.5px;
    height: 4.5rem;
    line-height: 4.5rem;
}
.decorate-sample-tab li,.decorate-sample-block,.decorate-sample-items {
    color: #666666;
}
.decorate-sample-tab li:hover {
    color: #43CB9C;
}

.decorate-sample-tab-active {
    color: #43CB9C!important;
}

.decorate-sample-panel {
    background: #333333;
    color: #ffffff;
    padding:0 2rem 4rem 2rem;
}
.decorate-sample-block {
    background: #EEEEEE;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border:1rem solid #ffffff;
}
/*1*/
#imageads section:nth-child(1)>div{
    height: 10.5rem;
}
#imageads section:nth-child(2)>div{
    height: 18rem;
}
#imageads section:nth-child(3)>div{
    height: 12rem;
}
.decorate-sample-panel p {
    height: 3.75rem;
    line-height: 3.75rem;
    font-size: 1.5rem;
}
.decorate-sample-items {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/*2*/
.decorate-sample-items div {
    width: 11.5rem;
    height:11.5rem;
    background: #EEEEEE;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border:.5rem solid #ffffff;
}
#navigation .decorate-sample-block,#recommended section:nth-child(1)>.decorate-sample-block {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #ffffff;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#navigation .decorate-sample-navigation-item {
    background: #EEEEEE;
    width: 5.5rem;
    height: 5.5rem;
    text-align: center;
}
#navigation .decorate-sample-navigation-txt {
    width: 5.5rem;
    text-align: center;
    font-size:1rem;
    margin-top:.5rem;
}
#navigation section:nth-child(2) ul>li{
    height: 4.2rem;
    line-height: 4.2rem;
    font-size: 1.5rem;
    margin: 0 1rem;
    position: relative;
}
#navigation section:nth-child(2) ul>li:after{
    position: absolute;
    left: -50%;
    right: -50%;
    bottom: 0;
    height: 1px;
    content: '';
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border-bottom: 1px solid #d8d8d8;
    z-index: 1;
}
#navigation section:nth-child(2) .decorate-sample-block {
    border:0px;
}
/*3*/
.items-list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.items-list p {
    height:auto;
}

.items-list li {
    float: left;
    width: 10rem;
    box-sizing: border-box;
}
.item-info > p.title {
    display: -webkit-box;
    word-break: break-word;
    overflow: hidden;
    color: #444;
    margin: .5rem 0;
    font-size: 14px;
    height: 35px;
}
.item-info > p {
    font-size: 1.4rem;
    line-height: 1.3;
}
.price {
    color: #F5A623;
    height: 1.8rem;
}
.lazy {
    position: relative;
    height: 0;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    background-size: contain;
}
#recommended section:nth-child(2)>.decorate-sample-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-left: 1.2rem solid #ffffff;
    border-right: 1.2rem solid #ffffff;
    background: #ffffff;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#recommended section:nth-child(2)>.decorate-sample-block div {
    width:100%;
    height: 19rem;
    background: #EEEEEE;
}
#recommended section:nth-child(2)>.decorate-sample-block p {
    width: 100%;
}
#recommended section:nth-child(2)>.decorate-sample-block .price {
    line-height: 1;
    height: auto;
}
#recommended section:nth-child(2)>.decorate-sample-block .title {
    line-height: 1.2;
    margin: .5rem 0;
    height: auto;
}
#recommended section:nth-child(3)>.decorate-sample-block {
    background: #ffffff;
}
#recommended section:nth-child(3) ul {
    margin: 0px;
    padding: 0px;
    display:inline-block;
}
#recommended section:nth-child(3) ul>li {
    width: 100%;
}
#recommended section:nth-child(3) ul>li:last-child {
    margin-top:1rem;
}
#recommended section:nth-child(3) ul>li div:first-child {
    float: left;
}
#recommended section:nth-child(3) ul>li div:last-child {
    margin-left:1rem;
}
#recommended section:nth-child(3) ul>li div {
    display: inline-block;
}
#recommended section:nth-child(3) .item-info {
    width: 7.5rem;
    height: 7.5rem;
    background: #EEEEEE;
}
#recommended section:nth-child(3) .items-list p {
    height: auto;
    line-height: inherit;
}