@import "../base/base.css";
@import "../moudle/app/header/header.css";
@import "../moudle/app/common/common.css";
@import "../moudle/app/contact/contact.css";
@import "../moudle/app/model/model.css";
@import "../moudle/ui/dialog/dialog.css";
body{
    padding:1rem 1.5rem 5rem;
    background-color: #333;
}
section{
    background-color: #fff;
    position: relative;
}
.shop-header{
    position: relative;
}
.shop-header .handle-btn{
    position: absolute;
    right: 0;
    top: 100px;
    border-radius: 2px 0 0 2px;
    z-index: 100;
}
.shop-header-bg{
    min-height: 100px;
}
.shop-info{
    position: absolute;
    width: 100%;
    height: 6.4rem;
    left: 0;
    bottom:-3rem;
    z-index: 2;
}
.shop-info img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.shop-img{
    border: .2rem solid #fff;
    border-radius: 50%;
    margin: 0 .5rem 0 1rem;
    float: left;
    width: 6rem;
    height: 6rem;
    overflow: hidden;
}
.shop-info p{
    font-size: 15px;
    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 3.5rem;
}
.shop-explain{
    color: #aaa;
    padding:4rem 1rem 1rem;
    position: relative;
}
.shop-explain > div{
    padding:1rem 1rem 2rem;
    background-color: #f5f5f5;
    position: relative;
    z-index: 1;
    /*overflow:hidden;*/
}
.shop-explain > div p{
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: .2rem;
}
.shop-explain > div .txt{
    font-size: 14px;
    max-height: 45px;
    overflow: hidden;
}

.txt-hide{
    position: absolute;
    padding: 0 1rem;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

.top-angle{
    position:absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border: .5rem solid;
    border-color:#fff #fff #f5f5f5 #fff;
    top:-1rem;
    left: 2.6rem;
}
.up-btn,.down-btn{
    font-size: 1.4rem;
    color: #999;
}
.down-btn:before{
    content: "\e60b";
}
.up-btn:before {
    content: "\e60c";
}
.down-btn{
    display: none;
}
.handle-btn{
    display: block;
    box-sizing: border-box;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 1.5rem;
    background-color: rgba(51,51,51,.98);
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.insert-btn{
    border-radius: 2px;
    position: absolute;
    right: -1.5rem;
    z-index: 101;
    top: -1rem;
}
.insert-box{
    position: relative;
    height: 1.5rem;
}
.model-btns{
    position: absolute;
    z-index: 10;
    left: .5rem;
    top: .5rem;
    border-radius: 2px;
    overflow: hidden;
}
.model-btns button{
    display: inline-block;
    position: relative;
    min-width: 5rem;
    padding: 0 .5rem;
    float: left;
}
.model-btns :not(:first-child)::after{
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: -50%;
    bottom: -50%;
    left: 0;
    width: 1px;
    content: '';
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border-left: 1px solid #000;
    z-index: 1;
}
.banner-box{
    /*min-height: 240px;*/
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
.slide_tab{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
}
.slide_tab i{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba(0,0,0,.6);
    margin-right:.5rem;
}
.slide_tab i.cur{
    background-color: #F5A623;
}
.sub-btn{
    display: block;
    position: fixed;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 16px;
    color: #43CB9C;
    background-color: rgba(255,255,255,.98);
    bottom: 0;
    left: 0;
    z-index: 100;
}
.two-list-box{
    background-color: #fff;
}
.static-banner li:not(:first-child){
    margin-top:1.5rem;
}
.one-item-box .items-list li a{
    padding: 1rem 1rem 0;
}