@import "../base/base.css";
@import "../moudle/app/header/header.css";
@import "../moudle/app/common/common.css";
@import "../moudle/app/buyplug/buyplug.css";
@import "../moudle/ui/dialog/dialog.css";
@import "../moudle/app/contact/contact.css";
@import "../moudle/ui/viewer/viewer.css";
@import "../moudle/ui/arrowslide/arrowbanner.css";
body{
    color: #666;
    background-color: #f5f5f5;
    padding-bottom: 4rem;
}
.info-box{
    padding:1rem 2rem;
}
.info-box > p {
    font-size: 1.4rem;
    line-height: 1.3;
    margin-bottom: 1rem;
    word-break: break-word;
}
.info-box .title {
    color: #999;
    margin-bottom: 1rem;
}
.info-box .price {
    color: #F5A623;
    height: 1.8rem;
}
.info-box .discount-price {
    color: #F5A623;
    height: 1.8rem;
    font-size: 1.8rem;
}
.discount-info{
    color: #F5A623;
}
.discount-info span:first-child{
    display: inline-block;
    padding: .2rem 1rem;
    background-color: #F5A623;
    color: #fff;
    border-radius: 2rem;
}
.price-lang{
    color: #ccc;
    text-decoration: line-through;
    margin-bottom: .5rem;
}
.go-shop{
    display: block;
    margin-top: 1.5rem;
}
.shop-info{
    /*border-top:1px solid #eee;*/
    padding:2rem 0 0;
    font-size: 1.4rem;
    color: #333;
    position: relative;
}
.shop-info::before{
    position: absolute;
    left:-50%;
    right: -50%;
    top:0;
    height: 1px;
    content: '';
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border-bottom: 1px solid #d8d8d8;
}
.shop-info img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right:1rem;
}
.shop-info p{
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin:0 3rem 0 6rem;
    font-size: 16px;
    height: 45px;
    word-break: break-word;
}
.shop-info i{
    font-size: 1.4rem;
    margin-top: 1.5rem;
    color: #999;
}
.buy-box{
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    height: 4rem;
    /*border-top:1px solid #eee;*/
    background-color: #f5f5f5;
    z-index: 100;
}
/*.buy-box::before{*/
    /*position: absolute;*/
    /*left:-50%;*/
    /*right: -50%;*/
    /*top:-1px;*/
    /*height: 1px;*/
    /*content: '';*/
    /*-webkit-transform: scale(0.5);*/
    /*transform: scale(0.5);*/
    /*border-bottom: 1px solid #d8d8d8;*/
/*}*/
.ser-box{
    width: 20%;
    height: 4rem;
    text-align: center;
    position: relative;
}
.ser-box i{
    font-size: 1.8rem;
    color: #52CDF0;
}
.ser-box p{
    color: #999;
    font-size: 1.2rem;
    margin-top: -.5rem;
}
.ser-icon{
    font-size: 2.2rem;
}
.buy-btns{
    /*margin-left:20%;*/
}
.buy-btns a{
    float:left;
    display: block;
    width: 50%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
}
.have-contact a{
    width: 40%;
}
.no-buy a{
    width: 80%;
}
.buy-btns a.disable-addnow{
    background-color: #d8d8d8;
}
.buy-btns a.disable-buynow{
    background-color: #ccc;
}
.add-cart{
    background-color: #F5A623;
}
.buy-now{
    background-color: #F58823;
}
.item-banner li{
    float: left;
    width: 100%;
}
.item-banner li img {
    cursor: pointer;
}
/*banner*/
.banner-box{
    min-height: 320px;
    position: relative;
    max-width: 640px;
    overflow: hidden;
}
.im-num{
    position: absolute;
    display: none;
    width: 8px;
    height: 8px;
    background: #FF584C;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    left: 3.5rem;
    top: .5rem;
}

.item-info{
    background-color: #fff;
    overflow: hidden;
}
.shop-explain{
    color: #aaa;
    margin: 0 2rem;
    padding-bottom: 2rem;
    position: relative;
}
.shop-explain > div{
    padding:1rem 1rem 2rem;
    background-color: #f5f5f5;
    position: relative;
    z-index: 1;
}
.shop-explain > div p{
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: .2rem;
}
.shop-explain > div .txt{
    font-size: 14px;
    max-height: 44px;
    overflow: hidden;
}
.top-angle{
    position:absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border: .5rem solid;
    border-color:#fff #fff #f5f5f5 #fff;
    top:-1rem;
    left: 1rem;
}
.txt-hide{
    position: absolute;
    padding: 0 1rem;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}
.up-btn,.down-btn{
    font-size: 1.4rem;
    color: #999;
}
.down-btn:before{
    content: "\e60b";
}
.up-btn:before {
    content: "\e60c";
}
.down-btn{
    display: none;
}
/*商品下架*/
.item-out-stock{
    padding: 10rem 0 30rem;
    text-align: center;
    font-size: 1.4rem;
    background: #fff;
}
.item-out-stock i{
    font-size: 5rem;
    color: #eee;
}
.item-out-stock p .btn{
    margin: 2rem auto 0;
}

/*3.5 功能4需求 去官网按钮box*/
.index-btn-box {
    padding:0 2.5rem;
    margin:2.5rem 0 2rem;
    position: relative;
    z-index: 100;
}
.index-btn-box .btn {
    font-size:1.6rem;
    border-radius: 3px!important;
}
.index-btn-box a {
    color:#ffffff;
}

