@import "../base/base.css";
@import "../moudle/app/header/header.css";
@import "../moudle/app/common/common.css";
body{
    background-color: #F5F5F5;
    padding-bottom: 6rem;
}
section{
    padding:1rem;
    font-size: 1.4rem;
    background-color: #fff;
}
.pay-info{
    padding:1rem 1rem 1rem 1rem;
    font-size: 1.4rem;
    background-color: transparent;
}
.pay-info ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    box-orient: horizontal;
    box-direction:normal;
}
.pay-info li{
    padding:0 0 1rem 0;
    position: relative;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.pay-info li:nth-child(2){
    padding: 0 .5rem 1rem;
}
.pay-info li.act{
    background-color: #EDEDED;
}
.pay-info li p{
    background-color: #fff;
    position: relative;
    padding:2rem;
}
.pay-info li.act p{
    background-color: #EDEDED;
    padding-left:1.5rem;
}
.pay-info li::after{
    position: absolute;
    left:-50%;
    right: -50%;
    bottom:0;
    height: 1px;
    content: '';
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border-bottom: 1px solid #999;
}
.pay-info li.act::after{
    position: absolute;
    left:-50%;
    right: -50%;
    top:-50%;
    bottom:-50%;
    height: auto;
    content: '';
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border: 1px solid #999;
    border-bottom: none;

}
.three_info li:nth-child(1){
    padding-right:.5rem;
}
.three_info li.act{
    padding-left:0;
    padding-right:0;
}
.three_info li:nth-child(3){
    padding-left:.5rem;
}
.pay-info .two_act_info li:nth-child(2){
    padding: 0 0 1rem .5rem;
}
.pay-info .two_act_info li:nth-child(1){
    padding-right:.5rem;
}
.mandiri{
    padding: 1.8rem 2rem 2.2rem;
}
.bank-info img{
    min-width: 48px;
    vertical-align: middle;
}
p{
    line-height: 2.4rem;
}
.order-box{
    margin-bottom: 2rem;
    text-align: center;
}
.order-info span{
    color: #f9b42d;
    font-weight: bolder;
}
.order-content{
    font-size: 1.3rem;
    font-weight: bold;
    color: #aaa;
    line-height: 1.3;
}
.txt-box{
    position: relative;
    padding-bottom:1rem;
    background-color: #EDEDED;
}
.txt-box::after{
    position: absolute;
    left:-50%;
    right: -50%;
    top:-50%;
    bottom:-50%;
    /*height: 14.5rem;*/
    content: '';
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
.pay-content,.pay-content-explain,.last-explain{
    padding-left:.5rem;

}
.pay-content{
    padding-top:1rem;
}
.last-explain{
    color: #999;
}
.pay-content-explain{
    padding:1rem 1rem 1rem .5rem;
    font-size: 1.3rem;
    color: #aaa;
}
.total-price{
    font-size: 1.8rem;
    color: #F5A623;
    font-weight: bold;
}
footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    /*display: flex;*/
    /*display: -webkit-flex;*/
    background-color: #fff;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
    -webkit-justify-content: space-between;

}
footer .btn{
    width: 48%;
}
.hide{
    display: none;
}
.top-status{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    background: url(../../images/app/status_two.gif) no-repeat;
    background-size: cover;
    padding: 0;
    font-size: 1.2rem;
}
.top-status::after{
    position: absolute;
    left:-50%;
    right: -50%;
    bottom:0;
    height: 1px;
    content: '';
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border-bottom: 1px solid #d8d8d8;
}
.top-status div{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    align-self:center;
    -webkit-align-self: center;
    padding: 1.5rem .5rem 1.5rem 2.5rem;
}
@media only screen and (max-width: 321px) {
    .top-status div{
        padding:1rem .5rem 1rem 1.5rem;
    }
}
.top-status div.act{
    color: #43cb9c;
}
.top-status div:last-child{
    /*background-color: #fff;*/
    position: relative;
}
p.quick-order-txt{
    text-align: left;
    color: #666;
}
p.quick-order-txt span{
   color: #f9b42d;
}