@import "../base/base.css";
@import "../moudle/app/header/header.css";
@import "../moudle/app/common/common.css";
@import "../moudle/app/item/item.css";
@import "../moudle/ui/dialog/dialog.css";
@import "../moudle/app/logistics/logistics.css";
body{
    background-color: #f5f5f5;
}
.address-box,.logistics-box,.list-box{
    padding:0 1rem;
    background-color: #fff;
    /*border-top:1px solid #D8D8D8;*/
    /*border-bottom:1px solid #D8D8D8;*/
    margin-bottom: 1.2rem;
}

.user-info{
    font-size: 1.4rem;
    color: #999;
    padding-right: 1rem;
    line-height: 1.6rem;
    padding-bottom:1rem;
}
.user-info i{
    color: #43CB9C;
    font-size: 1.8rem;
    margin-right: .2rem;
}
.user-info i.icon-phone-font{
    font-size: 1.6rem;
}
.address-box{
    padding:1rem 1rem 1.2rem;
    position: relative;
}
.address-box:after{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content:' ';
    height: 2px;
    width: 100%;
    background: url(../../images/app/divider.png) repeat center center;
}
.address-info{
    margin-right:3rem;
    font-size: 1.4rem;
}
.user-address-info{
    color: #999;
    line-height: 1.8rem;
}
.cart-item:last-child{
    border-bottom: none;
}
.user-address-info i,.logistics-box i,.cart-item i{
    font-size: 1.4rem;
    color: #999;
}
.cart-item i{
    width: auto;
}
.logistics-box{
    font-size: 1.4rem;
    height: 3rem;
    line-height: 3rem;
    padding: .5rem 1rem;
    color: #999;
}
.logistics-box div{
    font-size: 1.6rem;
    display: inline-block;
    height: 3rem;
}
.logistics-box span{
    margin-right: .5rem;
    font-size: 1.4rem;
    display: inline-block;
    height: 3rem;
    color: #666;
}
.order-info{
    padding-bottom:1rem;
}
.order-info p{
    font-size: 1.4rem;
    color: #999;
    padding-top: 1rem;
}
.order-info p span{
    color: #F5A623;
}
.list-box{
    padding-bottom: 2rem;
}
.shop-info{
    border-bottom: 1px solid #d8d8d8;
    padding: 1rem 0;
}
.shop-info img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    float:left;
}
.shop-info p{
    margin-left: 4rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.4rem;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.empty-cart{
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
    color: #999;
    height: 3rem;
    line-height: 3rem;
}
textarea{
    width: 100%;
    height: 6rem;
    border:1px solid #D8D8D8;
    padding: .5rem 1rem;
    resize: none;
}
.buyer-note-p{
    position: relative;
    padding: 1rem 0;
    font-size: 1.4rem;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    overflow: hidden;
}
.buyer-note-p span{
    position: absolute;
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    left: 0;
    top: 1rem;
    color: #999;
}
.buyer-note-p input{
    display: -webkit-box;
    width: 100%;
    padding: .5rem 0 .5rem 9rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.2rem;
}
.agree-info{
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2rem;
}
.agree-info i{
    font-size: 1.8rem;
    color: #43CB9B;
}
.agree-info a{
    margin-left: 1rem;
    color: #748bcf;
}