@import "../base/base.css";
@import "../moudle/app/header/header.css";
@import "../moudle/app/common/common.css";
@import "../moudle/ui/dialog/dialog.css";
@import "../moudle/app/itemlist/itemlist.css";
body{
    padding-top:4rem;
    background-color:#ececec;
}
.items-list{
    margin-top:.5rem;
}
/*头部*/
.shop-header-nav{
    background-color: #fff;
    padding:.5rem 0;
}
.shop-header-nav > p{
    margin: 0 5rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.6rem;
}
/*.shop-header-nav::after{*/
    /*position: absolute;*/
    /*left:-50%;*/
    /*right: -50%;*/
    /*bottom:0;*/
    /*height: 1px;*/
    /*content: '';*/
    /*-webkit-transform: scale(0.5);*/
    /*transform: scale(0.5);*/
    /*border-top: 1px solid #d8d8d8;*/
/*}*/
.shop-header-nav > div{
    width: 3rem;
    height: 3rem;
}
.shop-header-nav button{
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
}
.shop-header-nav button i{
    font-size: 2.2rem;
    color: #999;
}
.shop-header-nav button i.icon-back-font{
    /*font-size: 2rem;*/
}
.empty-sort{
    padding: 4rem 0;
    text-align: center;
}
.empty-sort i{
    font-size: 5rem;
    color: #999;
}
.empty-sort p{
    font-size: 1.6rem;
    color: #999;
}
