@import "../base/base.css";
@import "../moudle/app/header/header.css";
@import "../moudle/ui/dialog/dialog.css";
@import "../moudle/app/common/common.css";
@import "../moudle/app/address/address.css";
html{
    height: 100%;
}
body{
    background-color: #F5F5F5;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: none;
}
body .address-list{
    max-width: none;
}
.address-wraper{
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.form-box{
    background-color: #fff;
}
.form-li > div{
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding: 10px 5px;
    height: 50px;
    line-height: 30px;
}
.form-li > div.form-titie{
    line-height: normal;
    padding: 10px 10px 0;
}
.form-li > div input{
    width: 100%;
    height: 30px;
    padding: 5px;
}
.submit-btn{
    width: 80%;
    margin: 20px auto;
}
.g-color{
    color: #999;
}