.buy-plug{
  width: 100%;
  position: fixed;
  background-color: $white;
  bottom:0;
}
.buy-plug-cover{
  display: none;
  position: fixed;
  left: 0;
  right:0;
  top:0;
  bottom:0;
  background-color: rgba(0,0,0,.5);
}
.buy-plug > div >div{
  @include remCalc(padding,15);
}
.item-info-title{
  position: relative;
  @include remCalc(padding-bottom,30);
}
.item-info-title::after{
  position: absolute;
  left:-50%;
  right: -50%;
  bottom:0;
  height: 1px;
  content: '';
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-bottom: 1px solid $border-color;
}
.item-info-title img{
  float:left;
  @include remCalc(width,180);
  @include remCalc(height,180);
}
.item-info-title > div{
  @include remCalc(margin-left,210);
  @include remCalc(margin-right,30);
  @include remCalc(min-height,180);
}
.item-info-title i{
  position: absolute;
  color: $gray-color;
  z-index: 1;
  @include fontDpr(16px);
  @include remCalc(right,30);
  @include remCalc(top,15);
}
.item-info-title > div p{
  @include fontDpr(14px);
  @include remCalc(height,50);
  @include remCalc(margin-right,20);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-info-title > div .title{
  color: #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include remCalc(margin-right,20);
}
.item-info-title > div .price{
  color: $base-color;
  @include fontDpr(16px);
  @include remCalc(margin-bottom,20);
}
.item-info-cont{
  padding:0;
  position: relative;
}
.item-info-cont::after{
  position: absolute;
  left:-50%;
  right: -50%;
  bottom:0;
  height: 1px;
  content: '';
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-bottom: 1px solid $border-color;
}
.item-info-cont p{
  @include fontDpr(14px);
}

.item-info-cont ul{
  @include remCalc(padding,15 0 0);
  @include remCalc(max-height,500);
  overflow-y:auto;
}
.item-info-cont li{
  float: left;
  @include remCalc(padding,0 30);
  text-align: center;
  background-color: $li-bg-color;
  color: $txt-color;
  @include remCalc(margin,0 30 30 0);
  border-radius: 3px;
  @include remCalc(height,80);
  @include remCalc(line-height,80);
}
.item-info-cont li.act{
  background-color: $base-color;
  color: $white;
}
.item-info-num{
  @include remCalc(height,90);
  @include remCalc(line-height,90);
  position: relative;
}
.item-info-num >div.title{
  @include fontDpr(14px);
  @include remCalc(margin-right,300);
}
.item-num-box{
  position: absolute;
  @include remCalc(right,30);
  @include remCalc(top,25);
  @include remCalc(width,264);
  @include remCalc(height,72);
}
.item-num-box span{
  display: inline-block;
  @include remCalc(width,72);
  @include remCalc(height,72);
  @include remCalc(line-height,72);
  text-align: center;
  position: relative;
}
.item-num-box span.reduce-btn::after{
  position: absolute;
  left:-50%;
  right: -50%;
  bottom:-50%;
  top:-50%;
  @include remCalc(width,144);
  @include remCalc(height,144);
  content: '';
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-right: 1px solid $border-color;
}
.item-num-box span.add-btn::after{
  position: absolute;
  left:-50%;
  right: -50%;
  bottom:-50%;
  top:-50%;
  @include remCalc(width,144);
  @include remCalc(height,144);
  content: '';
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-left: 1px solid $border-color;
}
.item-num-box span i{
  @include fontDpr(14px);
  color: $gray-color;
}
.item-num-box input{
  text-align: center;
  @include fontDpr(14px);
  @include remCalc(height,72);
  @include remCalc(padding,15);
  @include remCalc(width,120);
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
}
.item-num-box::before{
  position: absolute;
  left:-50%;
  right: -50%;
  bottom:-50%;
  top:-50%;
  @include remCalc(height,144);
  width: 200%;
  content: '';
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border: 1px solid $border-color;
}
.buy-plug .btn{
  border-radius: 0;
  @include remCalc(line-height,90);
  @include remCalc(height,90);
}
.item-info-cont li.disable{
  color: $border-color;
}


















