<section class="banner-wraper">
    {{{btns}}}
    {{#eq type 'two_list'}}
        <ul class="two-list-box" flex="box:mean">
            <li>
                <div class="lazy" style="background-image: url(&quot;http://imghk0.geilicdn.com/instashop-1472714546971-693ac-s1.jpg?w=500&amp;h=500&amp;cp=1&quot;);">
                </div>
            </li>
            <li>
                <div class="lazy" style="background-image: url(&quot;http://imghk0.geilicdn.com/instashop-1472714546971-693ac-s1.jpg?w=500&amp;h=500&amp;cp=1&quot;);">
                </div>
            </li>
        </ul>
    {{else}}
        <div class="banner-box">
            <ul class="item-banner j_banner clearfix">
                <li class=""><a class="block" href=""><img data-img="http://imghk0.geilicdn.com/test_instashop40732-1476346870212.jpg?w=460" src=""/></a></li>
            </ul>
        </div>
    {{/eq}}
</section>

