<div class="model-btns clearfix">
    {{#if notmove}}
        <button class="edit-btn handle-btn">Edit</button><button class="del-btn handle-btn">Delete</button>
    {{else}}
        <button class="edit-btn handle-btn">Edit</button><button class="del-btn handle-btn">Delete</button><button class="move-btn handle-btn">Move up</button>
    {{/if}}

</div>