<div class="model-btns clearfix j_model_btns">
    {{#if notmove}}
        <button class="edit-btn j_edit_model handle-btn" data-type="{{type}}">Ubah</button><button class="del-btn j_del_model handle-btn">Hapus</button>
    {{else}}
        <button class="edit-btn j_edit_model handle-btn" data-type="{{type}}">Ubah</button><button class="del-btn j_del_model handle-btn">Hapus</button><button class="move-btn j_moveup_model handle-btn">Pindah ke Atas</button>
    {{/if}}

</div>