<section class="navigation-box">
    {{{btns}}}
    {{#eq type 'text'}}
        <p class="item-title b-bottom"><span></span>Kategori Pilihan</p>
        <ul class="nav-text-ul">
            <li class="b-top">
                <a class="block clearfix" href="">
                    <i class="icon iconfont icon-go-font fr"></i>
                    <span>ajsdajsdlfjalajsdlfjalajsdlfjalajsdlfjalajsdlfjalajsdlfjalajsdlfjalajsdlfjalajsdlfjallfjal</span>
                </a>
            </li>
            <li class="b-top">
                <a class="block clearfix" href="">
                    <i class="icon iconfont icon-go-font fr"></i>
                    <span>ajsdlfjal</span>
                </a>
            </li>
            <li class="b-top">
                <a class="block clearfix" href="">
                    <i class="icon iconfont icon-go-font fr"></i>
                    <span>ajsdlfjal</span>
                </a>
            </li>
        </ul>
    {{else}}
        <ul class="nav-img-ul" flex="box:mean">
            <li class="">
                <a class="block clearfix" href="">
                    <div class="lazy" data-img="http://imghk0.geilicdn.com/test_instashop40732-1474529254204-1.jpg"></div>
                    <p class="">lsjflsdf</p>
                </a>
            </li>
            <li class="">
                <a class="block clearfix" href="">
                    <div class="lazy" data-img="http://imghk0.geilicdn.com/test_instashop40732-1474529254204-1.jpg"></div>
                    <p class="">lsjflsdf</p>
                </a>
            </li>
            <li class="">
                <a class="block clearfix" href="">
                    <div class="lazy" data-img="http://imghk0.geilicdn.com/test_instashop40732-1474529254204-1.jpg"></div>
                    <p class="">lsjflsjflsdflsjflsdflsjflsdflsjflsdflsdf</p>
                </a>
            </li>

        </ul>
    {{/eq}}
</section>