/**
 * Created by sunchengbin on 16/3/9.
 * 项目中通用的东西
 */
html { font-size: 62.5%; }
@media only screen and (min-width: 374px) {
    html { font-size: 72%!important }
}
@media only screen and (min-width: 413px) {
    html { font-size: 80%!important }
}
@media only screen and (min-width: 481px) {
    html { font-size: 94%!important }
}
@media only screen and (min-width: 561px) {
    html { font-size: 109%!important }
}
@media only screen and (min-width: 641px) {
    html { font-size: 125%!important }
}
@media(orientation: landscape) and (min-width: 481px) {
    html { font-size: 62.5% !important; }
}
body, button, input, select,option,td, textarea /* for ie */ {
    font: 12px/1.5 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
img{
    width: 100%;
    vertical-align: middle;
}
.block{
    display: block;
}
.clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
@media only screen and (min-width: 641px) {
    body {
        max-width: 640px;
        margin: 0 auto;
        background-color: #F5F5F5;
    }
    body .buy-box,body .logistics-plug,body .buy-plug,body .shop-header-nav,body footer,body .prove-btn,body .index-footer{
        max-width: 640px;
        left: 50%;
        margin-left: -320px;
    }
    body .address-list{
        max-width: 640px;
    }
}


/* ==========================================================================
   Component: AVG Grid
 ============================================================================ */

[class*="ins-avg-"] {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

[class*="ins-avg-"]:before,
[class*="ins-avg-"]:after {
  content: " ";
  display: table;
}

[class*="ins-avg-"]:after {
  clear: both;
}

[class*="ins-avg-"]>li {
  display: block;
  height: auto;
  float: left;
}

@media only screen {
  .ins-avg-sm-1>li {
    width: 100%;
  }
  .ins-avg-sm-1>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-sm-1>li:nth-of-type(1n + 1) {
    clear: both;
  }
  .ins-avg-sm-2>li {
    width: 50%;
  }
  .ins-avg-sm-2>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-sm-2>li:nth-of-type(2n + 1) {
    clear: both;
  }
  .ins-avg-sm-3>li {
    width: 33.33333333%;
  }
  .ins-avg-sm-3>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-sm-3>li:nth-of-type(3n + 1) {
    clear: both;
  }
  .ins-avg-sm-4>li {
    width: 25%;
  }
  .ins-avg-sm-4>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-sm-4>li:nth-of-type(4n + 1) {
    clear: both;
  }
  .ins-avg-sm-5>li {
    width: 20%;
  }
  .ins-avg-sm-5>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-sm-5>li:nth-of-type(5n + 1) {
    clear: both;
  }
  .ins-avg-sm-6>li {
    width: 16.66666667%;
  }
  .ins-avg-sm-6>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-sm-6>li:nth-of-type(6n + 1) {
    clear: both;
  }
  .ins-avg-sm-7>li {
    width: 14.28571429%;
  }
  .ins-avg-sm-7>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-sm-7>li:nth-of-type(7n + 1) {
    clear: both;
  }
  .ins-avg-sm-8>li {
    width: 12.5%;
  }
  .ins-avg-sm-8>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-sm-8>li:nth-of-type(8n + 1) {
    clear: both;
  }
  .ins-avg-sm-9>li {
    width: 11.11111111%;
  }
  .ins-avg-sm-9>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-sm-9>li:nth-of-type(9n + 1) {
    clear: both;
  }
  .ins-avg-sm-10>li {
    width: 10%;
  }
  .ins-avg-sm-10>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-sm-10>li:nth-of-type(10n + 1) {
    clear: both;
  }
  .ins-avg-sm-11>li {
    width: 9.09090909%;
  }
  .ins-avg-sm-11>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-sm-11>li:nth-of-type(11n + 1) {
    clear: both;
  }
  .ins-avg-sm-12>li {
    width: 8.33333333%;
  }
  .ins-avg-sm-12>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-sm-12>li:nth-of-type(12n + 1) {
    clear: both;
  }
}

@media only screen and (min-width:641px) {
  .ins-avg-md-1>li {
    width: 100%;
  }
  .ins-avg-md-1>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-md-1>li:nth-of-type(1n + 1) {
    clear: both;
  }
  .ins-avg-md-2>li {
    width: 50%;
  }
  .ins-avg-md-2>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-md-2>li:nth-of-type(2n + 1) {
    clear: both;
  }
  .ins-avg-md-3>li {
    width: 33.33333333%;
  }
  .ins-avg-md-3>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-md-3>li:nth-of-type(3n + 1) {
    clear: both;
  }
  .ins-avg-md-4>li {
    width: 25%;
  }
  .ins-avg-md-4>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-md-4>li:nth-of-type(4n + 1) {
    clear: both;
  }
  .ins-avg-md-5>li {
    width: 20%;
  }
  .ins-avg-md-5>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-md-5>li:nth-of-type(5n + 1) {
    clear: both;
  }
  .ins-avg-md-6>li {
    width: 16.66666667%;
  }
  .ins-avg-md-6>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-md-6>li:nth-of-type(6n + 1) {
    clear: both;
  }
  .ins-avg-md-7>li {
    width: 14.28571429%;
  }
  .ins-avg-md-7>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-md-7>li:nth-of-type(7n + 1) {
    clear: both;
  }
  .ins-avg-md-8>li {
    width: 12.5%;
  }
  .ins-avg-md-8>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-md-8>li:nth-of-type(8n + 1) {
    clear: both;
  }
  .ins-avg-md-9>li {
    width: 11.11111111%;
  }
  .ins-avg-md-9>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-md-9>li:nth-of-type(9n + 1) {
    clear: both;
  }
  .ins-avg-md-10>li {
    width: 10%;
  }
  .ins-avg-md-10>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-md-10>li:nth-of-type(10n + 1) {
    clear: both;
  }
  .ins-avg-md-11>li {
    width: 9.09090909%;
  }
  .ins-avg-md-11>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-md-11>li:nth-of-type(11n + 1) {
    clear: both;
  }
  .ins-avg-md-12>li {
    width: 8.33333333%;
  }
  .ins-avg-md-12>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-md-12>li:nth-of-type(12n + 1) {
    clear: both;
  }
}

@media only screen and (min-width:1025px) {
  .ins-avg-lg-1>li {
    width: 100%;
  }
  .ins-avg-lg-1>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-lg-1>li:nth-of-type(1n + 1) {
    clear: both;
  }
  .ins-avg-lg-2>li {
    width: 50%;
  }
  .ins-avg-lg-2>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-lg-2>li:nth-of-type(2n + 1) {
    clear: both;
  }
  .ins-avg-lg-3>li {
    width: 33.33333333%;
  }
  .ins-avg-lg-3>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-lg-3>li:nth-of-type(3n + 1) {
    clear: both;
  }
  .ins-avg-lg-4>li {
    width: 25%;
  }
  .ins-avg-lg-4>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-lg-4>li:nth-of-type(4n + 1) {
    clear: both;
  }
  .ins-avg-lg-5>li {
    width: 20%;
  }
  .ins-avg-lg-5>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-lg-5>li:nth-of-type(5n + 1) {
    clear: both;
  }
  .ins-avg-lg-6>li {
    width: 16.66666667%;
  }
  .ins-avg-lg-6>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-lg-6>li:nth-of-type(6n + 1) {
    clear: both;
  }
  .ins-avg-lg-7>li {
    width: 14.28571429%;
  }
  .ins-avg-lg-7>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-lg-7>li:nth-of-type(7n + 1) {
    clear: both;
  }
  .ins-avg-lg-8>li {
    width: 12.5%;
  }
  .ins-avg-lg-8>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-lg-8>li:nth-of-type(8n + 1) {
    clear: both;
  }
  .ins-avg-lg-9>li {
    width: 11.11111111%;
  }
  .ins-avg-lg-9>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-lg-9>li:nth-of-type(9n + 1) {
    clear: both;
  }
  .ins-avg-lg-10>li {
    width: 10%;
  }
  .ins-avg-lg-10>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-lg-10>li:nth-of-type(10n + 1) {
    clear: both;
  }
  .ins-avg-lg-11>li {
    width: 9.09090909%;
  }
  .ins-avg-lg-11>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-lg-11>li:nth-of-type(11n + 1) {
    clear: both;
  }
  .ins-avg-lg-12>li {
    width: 8.33333333%;
  }
  .ins-avg-lg-12>li:nth-of-type(n) {
    clear: none;
  }
  .ins-avg-lg-12>li:nth-of-type(12n + 1) {
    clear: both;
  }
}
.ins-m-t-0 {
  margin-top: 0px!important;
}
.ins-m-t-2 {
  margin-top: 1rem;
}
.ins-m-b-2 {
  margin-bottom:1rem!important;
}

.ins-text-left {
  text-align: left!important;
}

.ins-color-hightlight-blue {
  color:#4990E2;
}
.ins-btn {
  text-align: center;
}
.ins-btn-orange {
  background:#F5A623;
  color:#ffffff;
  font-size: 16px;
  height:4.2rem;
  line-height: 4.2rem;
  width:100%;
  border-radius: 2px;
}