<nav class="header-nav clearfix j_go_back">
    <i class="icon iconfont">&#xe62a;</i>
</nav>
<section class="cart-list j_cart_list">
    <ul class="">
        {{{carts cart}}}
    </ul>
    {{#if cart}}
        <button class="btn j_submit_btn confirm-btn">{{lang.H5_MAKE_ORDER}}</button>
        {{else}}
        <button class="btn j_go_shop confirm-btn">{{lang.H5_BROWSE_SHOP}}</button>
    {{/if}}

</section>