<nav class="header-nav clearfix ">
    <i class="icon iconfont j_go_back icon-back-font"></i>
    {{lang.H5_SHOPPING_CART}}
</nav>
<section class="cart-list j_cart_list cart-supplier-list">
    <ul class="">
        {{{carts cart}}}
    </ul>
</section>