<div class="favorable-box clearfix" data-spider="favorabl_box">
    优惠券
    <div class="fr">
        <i class="icon iconfont fr icon-go-font"></i>
        <span class="j_favorable_price" data-code="" data-price="">填写code</span>
    </div>
</div>