<div class="favorable-box clearfix">
    优惠券
    <div class="fr">
        <i class="icon iconfont fr icon-go-font"></i>
        <span class="j_favorable_price" data-code="6596829" data-price="9000">填写code</span>
    </div>
</div>