<div class="address-wraper">
    <section class="address-form-box">
        <section class="address-wraper">
            <div class="user-info">
                <div class="user-name info-box b-bottom">
                    <input class="j_instagram_name" type="text" placeholder="请输入Instagram id"/>
                </div>
            </div>
        </section>
        <button class="btn confirm-btn j_submit_buy">我要搬家[临时文案]</button>
    </section>
</div>

