<div class="address-wraper">
    <section class="address-form-box">
        <section class="address-wraper">
            <div class="user-info">
                <div class="user-name info-box b-bottom">
                    <input class="j_instagram_name" type="text" placeholder="{{lang.H5_INS_INPUT}}"/>
                </div>
            </div>
        </section>
        <div class="index-btn-box">
            <div class="btn j_submit_btn confirm-btn j_submit_check">
                <a href="javascript:void(0)">{{lang.H5_SUBMIT_TXT}}</a>
            </div>
        </div>
        <div class="req_msg"></div>
        <div class="error_msg"></div>
    </section>
</div>

