.favorable-box {
  @include fontDpr(14px);
  @include remCalc(height,106);
  @include remCalc(line-height,106);
  position: relative;
  color: $info-color;
}

.favorable-box::before {
  position: absolute;
  left: -50%;
  right: -50%;
  top: 0;
  height: 1px;
  content: '';
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-bottom: 1px solid $border-color;
}

.favorable-box div {
  @include fontDpr(16px);
  display: inline-block;
  @include remCalc(height,106);
}

.favorable-box span {
  @include remCalc(margin-right,15);
  @include fontDpr(14px);
  display: inline-block;
  @include remCalc(height,106);
  color: $info-color;
}
.favorable-fill-box {
  @include remCalc(padding,20 0);
  padding-top:0;
}
.favorable-fill-btn {
  text-align: center;
  background: $base-btn-color;
  border-radius: 5px;
  @include remCalc(height,80);
  @include remCalc(line-height,80);
  margin: 0 auto;
  color: $white;
  @include fontDpr(18px);
}

.favorable-fill-header {
  @include remCalc(margin-bottom,30);
  @include fontDpr(18px);
}
.favorable-fill-input{
  @include remCalc(margin-bottom,60);
}
.favorable-fill-header {
  text-align: center;
}

.favorable-fill-input input {
  width: 100%;
  @include remCalc(height,80);
  @include remCalc(line-height,80);
  background: #F5F5F5;
  border-radius: 4px;
  @include remCalc(padding,0 30);
  @include fontDpr(18px);
}