.header-nav{
    /*padding: 0 1rem;*/
    /*height: 4rem;*/
    /*line-height: 4rem;*/
    /*background-color: #43CB9C;*/
    /*font-size: 1.6rem;*/
    /*color: #fff;*/
    padding: 0 1rem;
    height: 4rem;
    line-height: 4rem;
    background-color: #F5f5f5;
    font-size: 1.6rem;
    color: #666;
    border-bottom: 1px solid #d8d8d8;
}
.header-nav .iconfont{
    font-size: 1.6rem;
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
}
.cart-num{
    position: absolute;
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1.6rem;
    background-color: #F58823;
    color: #fff;
    right: 0;
    top: 0;
    font-size: 1.2rem;
}
.header-nav button{
    float: right;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.6rem;
    padding-left: 2rem;
    color: #fff;
}
/*漂浮的后退按钮和购物车按钮*/
.shop-header-nav{
    padding:.5rem 0 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
.shop-header-nav > div{
    position: relative;
    z-index: 4;
    width: 3.6rem;
    height: 3.6rem;
    margin-left:1rem;
    margin-right: 1rem;
}
.btn-cover{
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background-color:rgba(0,0,0,.5);

}
.shop-header-nav button{
    position: absolute;
    width: 3.6rem;
    height: 3.6rem;
    line-height: 3.6rem;
    text-align: center;
    border-radius: 50%;
    top:0;
    left: 0;
    z-index: 5;
}
.shop-header-nav button i{
    font-size: 2rem;
    color: #fff;
}
.shop-header-nav button i.icon-back-font{
    font-size: 1.8rem;
}
/*最大宽度居中*/
