//整个项目中公共的参数
$base-font-size: 72 !default;
$base-color:#E3BABC;
$black-color:#333;
$txt-color:#666;
$gray-color:#999;
$bold-color:#515151;
$reminder-color:#B9B9B9;
$disable-color:#ccc;
$border-color:#d8d8d8;
$white:#fff;
$info-color:#444;
//index首页
$footer-color:#fff;
$footer-num-color:#fff;
$footer-num-bg:#FE685D;
$footer-border-color:#fff;