@import "reset/reset.css";
@import "common/common.css";
/*图标字体*/
/*@font-face {*/
    /*font-family: "iconfont";*/
    /*src: url('http://m.instashop.co.id/static/css/base/fonts/iconfont.ttf') format('truetype'),*/
    /*url('http://m.instashop.co.id/static/css/base/fonts/iconfont.svg#iconfont') format('svg');*/
/*}*/
.iconfont {
    font-family:"iconfont" !important;
    font-size:1.4rem;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/**/
.icon-minus-font:before { content: "\e600"; }
.icon-add-font:before { content: "\e601"; }
.icon-allright-font:before { content: "\e602"; }
.icon-cart-font:before { content: "\e603"; }
.icon-go-font:before { content: "\e604"; }
.icon-phone-font:before { content: "\e605"; }
.icon-right-font:before { content: "\e606"; }
.icon-shop-font:before { content: "\e607"; }
.icon-back-font:before { content: "\e608"; }
.icon-address-font:before { content: "\e609"; }
.icon-cancel-font:before { content: "\e60a"; }
.icon-down-font:before { content: "\e60b"; }
.icon-up-font:before { content: "\e60c"; }
.icon-time-font:before { content: "\e60d"; }
.icon-news-font:before { content: "\e60e"; }
.icon-delete-font:before { content: "\e60f"; }
.icon-error-font:before { content: "\e610"; }
.icon-checkbox-font:before { content: "\e611"; }
.icon-checked-font:before { content: "\e612"; }
.icon-radio-font:before { content: "\e613"; }
.icon-radioed-font:before { content: "\e614"; }
.icon-upimg-font:before { content: "\e615"; }
.icon-photograph-font:before { content: "\e616"; }
.icon-edit-font:before { content: "\e617"; }
.icon-sort-font:before { content: "\e618"; }
.icon-empty-font:before { content: "\e619"; }
.icon-fold-font:before { content: "\e61a"; }
.icon-i-news-font:before { content: "\e61c"; }
.icon-tag-font:before { content: "\e61d"; }
.icon-i-shop-font:before { content: "\e61b"; }