@import "reset/reset.css";
@import "common/common.css";
/*图标字体*/
/*@font-face {*/
    /*font-family: "iconfont";*/
    /*src: url('http://m.instashop.co.id/static/css/base/fonts/iconfont.ttf') format('truetype'),*/
    /*url('http://m.instashop.co.id/static/css/base/fonts/iconfont.svg#iconfont') format('svg');*/
/*}*/
.iconfont {
    font-family:"iconfont" !important;
    font-size:1.4rem;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/**/
.icon-cancel-font:before { content: "\e60e"; }
.icon-address-font:before { content: "\e60d"; }
.icon-shop-font:before { content: "\e60a"; }
.icon-right-font:before { content: "\e609"; }
.icon-phone-font:before { content: "\e608"; }
.icon-go-font:before { content: "\e606"; }
.icon-cart-font:before { content: "\e604"; }
.icon-allright-font:before { content: "\e603"; }
.icon-add-font:before { content: "\e602"; }
.icon-minus-font:before { content: "\e601"; }
.icon-down-font:before { content: "\e60f"; }
.icon-up-font:before { content: "\e610"; }
.icon-back-font:before { content: "\e60c"; }
.icon-time-font:before { content: "\e611"; }
.icon-news-font:before { content: "\e612"; }
.icon-delete-font:before { content: "\e613"; }