body{
  background-color: #f5f5f5;
  @include remCalc(padding-bottom,90);
  //padding-bottom: 4rem;
  @include fontDpr(12px);
}
.item-info{
  background-color: $white;
  overflow: hidden;
}
.index-btn-box{
  @include remCalc(margin-bottom,50);
}
/*商品下架*/
.item-out-stock{
  @include remCalc(padding,100 0 300);
  text-align: center;
  @include fontDpr(14px);
  background: $white;
}
.item-out-stock i{
  @include fontDpr(40px);
  color: #eee;
}
.item-out-stock p .btn{
  @include remCalc(margin,100 auto 0);
}
