@import "../../app/itemlist/itemlist.css";
@import "../../app/item/item.css";
@import "../../../base/common/flex.css";
@import "../../ui/arrowslide/arrowbanner.css";
/*推荐单件商品导航样式*/
.one-item-box .title{
    display: -webkit-box;
    word-break: break-word;
    overflow: hidden;
    color: #444;
    margin: .3rem 0;
    font-size: 14px;
    height: 35px;
}
.price{
    font-size: 14px;
}
.one-item-box .discount-price{
    margin:0;
}
.one-item-box .items-list li{
    width: 100%;
    padding:0;
}
.one-item-box .items-list li a::after{
    display: none;
}
.rotate-banner li{
    float: left;
}
/*导航类模板样式*/
.navigation-box{
    position: relative;
}
.nav-text-ul{

}
.nav-text-ul li{
    padding:0 2rem 0 1rem;
}
.nav-text-ul a{
    color: #666;
    height: 4rem;
    line-height: 4rem;
    overflow: hidden;
}
.nav-text-ul i{
    color: #999;
    font-size: 1.2rem;
}
.nav-text-ul span{
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
.nav-img-ul li{
    max-width: 25%;
}
.nav-img-ul a{
    box-sizing: border-box;
    padding: 0 1rem 1rem;
    color: #666;
}
.nav-img-ul .lazy::after{
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: -50%;
    bottom: -50%;
    left:-50%;
    right:-50%;
    content: '';
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border: 1px solid #d8d8d8;
    z-index: 1;
}
.nav-img-ul li p{
    display: -webkit-box;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: .5rem 0 0;
    text-align: center;
}
/*banner类模板样式*/
.two-list-box{
    padding-top:1rem;
}
.two-list-box li{
    width: 50%;
    box-sizing: border-box;
    float: left;
    margin-bottom:1rem;
}
.two-list-box .lazy::after{
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: -50%;
    bottom: -50%;
    left:-50%;
    right:-50%;
    content: '';
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border: 1px solid #d8d8d8;
    z-index: 1;
}
.two-list-box li:nth-child(odd){
    padding-right: .85rem;
}
.two-list-box li:nth-child(even){
    padding-left: .85rem;
}
.static-banner li:not(:first-child){
    margin-top:1rem;
}
.banner-wraper{
    background-color: transparent;
}
