@import "../base/base.scss";
@import "../moudle/app/common/common.scss";
@import "../base/common/flex.scss";
@import "../base/common/insavg.scss";
@import "../moudle/ui/tab/tab.scss";
@import "../moudle/app/contact/contact.scss";
@import "../moudle/app/reduc/reduc.scss";
@import "../moudle/app/sharecoupon/sharecoupon.scss";
@import "../moudle/ui/viewer/viewer.scss";
@import "../moudle/app/model/model.scss";
//店招店铺名字
.shop-header{
  position: relative;
  @include remCalc(min-height,100);
}
.shop-info-wrap{
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  text-align: center;
}
.shop-img{
  display: inline-block;
  border:solid #fff;
  @include remCalc(border-width,5);
  border-radius: 50%;
  @include remCalc(width,130);
  overflow: hidden;
}
.shop-seller-info p{
  @include remCalc(height,55);
  @include remCalc(line-height,55);
  @include remCalc(padding,0 50);
  @include font-dpr(16px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:#fff;
}
.shop-seller-info p.seller-sign{
  @include font-dpr(12px);
}
//tab样式
.tabs {
  width: 100%;
  @include remCalc(height,120);
  background: #fff;
  text-align: center;
  border-bottom: 1px solid #d8d8d8;
}

.tab-index .tabitem div {
  @include remCalc(height,120);
  @include remCalc(padding-top,10);
  box-sizing: border-box;
  position: relative;
}

.tab-items {
  width: 100%;
  @include remCalc(height,80);
  background: #fff;
  text-align: center;
}

.tab-items .tabitem div {
  @include remCalc(height,80);
  @include remCalc(line-height,80);
  box-sizing: border-box;
  position: relative;
}

.tabitem span {
  display: block;
}

.tab-index .tabitem i {
  @include font-dpr(20px);
}

.tab-active div {
  color: $base-color;
}

.tab-index .tab-active div:after {
  content: " ";
  @include remCalc(height,5);
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: $base-color;
}

.all-items-wrap .items-box {
  margin-top: 0;
}

.sort-price {
  line-height: 0!important;
  display: inline-block!important;
  height: inherit!important;
}

.sort-price-off {
  color: $txtcolor!important;
}
.sort-price-l2h {
  position: absolute;
  top: -8px;
}

.sort-price-h2l {
  position: absolute;
  @include remCalc(bottom,-5);
}
.item-tabs {
  color: $txtcolor;
}
/*产品展示列表*/
.list-box{
  width: 100%;
  overflow-x: hidden;
}
.items-box{
  margin-top:1rem;
}
/*店铺被禁*/
.shop-delete{
  padding: 4rem 0 30rem;
  text-align: center;
  font-size: 14px;
}
.shop-delete i{
  font-size: 5rem;
  color: #eee;
}
/*底部分类和客服导航*/
footer{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #f5f5f5;
  /*padding: .5rem;*/
  z-index: 100;
  box-sizing: border-box;
}
footer .btn{
  /*width: 49%;*/
  font-size: 14px;
  height: 4rem;
  line-height: 4rem;
  border-radius: 0;
}
footer .btn i{
  font-size: 20px;
  vertical-align: middle;
  margin-right: .5rem;
  position: relative;
}
/*分类侧栏弹窗*/
.sort-list-wraper{
  position: fixed;
  z-index: 210;
  left: 0;
  top: 0;
  bottom: 0;
  right: 30%;
  padding: 2rem 0 0 1rem;
  overflow-x:hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling : touch;
}
.sort-list-wraper > p{
  font-size: 1.8rem;
  color: #333;
}
.sort-list-wraper > ul{
  padding-left:1rem;
}
.sort-list-wraper > ul li{
  font-size: 14px;
  color: #999;
  height: 5rem;
  line-height: 5rem;
  position: relative;
}
.sort-list-wraper a{
  display: block;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right:1rem;
}
.sort-list-wraper > ul li::after{
  position: absolute;
  left:-50%;
  right: -50%;
  bottom:0;
  height: 1px;
  content: '';
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
  border-top: 1px solid #d8d8d8;
}
.sort-list-wraper > ul li:last-child::after{
  border:none;
}
.sort-list-wraper li span{
  display: inline-block;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: #d8d8d8;
  margin-right: .5rem;
  vertical-align: top;
  margin-top: 2.2rem;
}
.sort-list-cover{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 209;
  background: rgba(0,0,0,.8);
}
.sort-list-cover i{
  position: absolute;
  right: 10%;
  top: 50%;
  color: #999;
  font-size: 3rem;
  margin-top: -1.5rem;
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}
.sort-list-wraper,.sort-list-cover{
  transform: translate3d(-100%,0,0);
  -moz-transform: translate3d(-100%,0,0);
  -webkit-transform: translate3d(-100%,0,0);
}
/*底栏*/
.index-footer{
  position: fixed;
  height: 4rem;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fafafa;
  z-index: 200;
}
.index-footer ul{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.index-footer ul li{
  width: 0;
  height: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  height: 4rem;
  box-sizing: border-box;
  line-height: 4rem;
  text-align: center;
  font-size: 14px;
}
.index-footer ul li i{
  vertical-align: middle;
}
.index-footer ul li a{
  color: #666;
}
.index-footer ul li::before,.index-footer ul::before{
  border-color: #aaa;
}
.index-footer .cart-num {
  position: absolute;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 1.2rem;
  background-color: #F58823;
  color: #fff;
  left: 50%;
  margin-left: -1.1rem;
  top: .6rem;
  font-size: 12px;
}
/*banner*/
.item-banner li{
  float: left;
  width: 100%;
}
.static-banner,.two-list-banner{
  padding:1rem 0;
}
.one-item-box .items-list li a{
  padding:1rem 0 0;
}
/*banner*/
.banner-box{
  min-height: 240px;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top:.5rem;
  z-index: 1;
}
.no_item{
  padding: 5rem 1rem 5rem;
  text-align: center;
  font-size: 16px;
}


/*3.5 功能4需求 去官网按钮box*/
.index-btn-box {
  padding:0 2.5rem;
  margin:1.5rem 0 2rem;
}
.index-btn-box .icon-shop-font {
  font-size:17.5px;
}
.index-btn-box .btn {
  font-size:16px;
  border-radius: 3px!important;
  height: 3.6rem;
  line-height: 3.6rem;
}
.index-btn-box a {
  color:#ffffff;
}

//模板样式
.model-box{
  margin-top:1rem;
}
.model-box .banner-box{
  margin-top: 0;
}
.two-list-banner{
  padding:0 1rem;
  margin-top:1rem;
}
.one-item-box .items-list li{
  padding:0 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
}
.one-item-box .items-list li:last-child{
  margin-bottom: 0;
}
.one-item-box .items-list li:not(:last-child){
  margin-bottom:1rem;
}
.one-item-box .items-list::before{
  border: none;
}
.banner-wraper{
  background-color: #fff;
  padding:0 1rem;
}
.no-cursor{
  cursor: default;
}
.search-box{
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  position: absolute;
  right: 0;
  bottom: 4.5rem;
  z-index: 200;
  background-color: rgba(246,166,35,.9);
  text-align: center;
  border-radius: 50%;
}
.search-btn i{
  font-size: 24px;
  color: #fff;
}
.item-list-wraper{
  margin-top:1rem;
}
/*店铺详情*/
.shopinfo-card {
  background: #ffffff;
  padding: 0 1rem 1rem;
  box-sizing: border-box;
}

.shopinfo-card-allp {
  padding: 1rem 1rem 1rem;
}

.shopinfo-card-header {
  padding: 1rem 0;
  width: 100%;
  font-size: 14px;
  color: #666666;
}

.shopinfo-base p {
  color: #999999;
  font-size: 12px;
}
.shopinfo-base p a {
  color: #70CAFE;
}
.shopinfo-base p i{
  font-size: 12px;
  margin: 0 .5rem;
}
.ins-typo {
  position:relative;
}
.ins-typo:after {
  position:absolute;
  content:" ";
  top:0;
  right:0;
  left:0;
  margin: 0 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}
.shopinfo-map-content iframe {
  width:100%;
  height:20rem;
  background:#d8d8d8;
}

.shopinfo-note .shopinfo-map-content {
  background: #F8F8F8;
  padding:1rem;
}
.shopinfo-note p:first-child {
  color:#666666;
}
.shopinfo-note p:last-child {
  color:#999999;
  word-wrap: break-word;
  font-size: 14px;
}
.shopinfo-map .shopinfo-card-header i {
  color: #70CAFE;
}
.shopinfo-store-banner li{
  padding:0.125rem;
  box-sizing: border-box;
}
.shopinfo-store-banner img{
  max-height:9rem;
}
.j_store_banner>li {
  float:left;
}
.shopinfo-note{
  padding:1rem;
  margin-top:1rem;
}
.shopinfo-banner-box{
  min-height: 10rem;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top:.5rem;
  z-index: 1;
}
.all-items-wrap{
  margin-top:1rem;
}