@import "../base/base.scss";
@import "../moudle/app/header/header.scss";
@import "../moudle/app/common/common.scss";
@import "../moudle/app/item/item.scss";
@import "../moudle/app/logistics/logistics.scss";
.logistics-id{
  text-align: center;
  font-size: 20px;
  color: $base-color;
  @include remCalc(padding,60 0);
  @include remCalc(margin,0 30);
  position: relative;
}
.logistics-id::after{
  position: absolute;
  left:-50%;
  right: -50%;
  bottom:0;
  height: 1px;
  content: '';
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-bottom: 1px solid $border-color;
}
.logistics-state{
  @include remCalc(padding,60 30);
  color: $gray-color;
}
.time{
  @include remCalc(width,180);
  text-align: right;
  @include remCalc(padding-right,20);
}
.time p:last-child{
  color: #ccc;
}
.txt{
  @include remCalc(margin-left,200);
  position: relative;
}
.txt i{
  @include fontDpr(16px);
  float: left;
  position: absolute;
  left: 0;
  @include remCalc(top,-15);
}
.txt i.checked-btn:before{
  @include fontDpr(16px);
}
.logistics-state :not(:first-child) .txt i{
  display: inline-block;
  @include remCalc(width,30);
  @include remCalc(height,30);
  background-color: #d8d8d8;
  border-radius: 50%;
  @include remCalc(left,30);
  @include remCalc(top,0);
}
.logistics-state :not(:first-child) .txt i:before{
  content: "";
}
.txt p{
  @include remCalc(margin-left,15);
  margin-left: .6rem;
  border-left: 1px solid $border-color;
  @include remCalc(padding,0 0 30 45);
}
.logistics-state li:last-child .txt p{
  border: none;
}