/**
 * Created by sunchengbin on 16/3/9.
 * 项目中通用的东西
 */
html { font-size: 62.5%; }
@media only screen and (min-width: 374px) {
    html { font-size: 72%!important }
}
@media only screen and (min-width: 413px) {
    html { font-size: 80%!important }
}
@media only screen and (min-width: 481px) {
    html { font-size: 94%!important }
}
@media only screen and (min-width: 561px) {
    html { font-size: 109%!important }
}
@media only screen and (min-width: 641px) {
    html { font-size: 125%!important }
}
@media(orientation: landscape) and (min-width: 481px) {
    html { font-size: 62.5% !important; }
}
body, button, input, select,option,td, textarea /* for ie */ {
    font: 1.2rem/1.5 Arial, Helvetica, sans-serif;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
img{
    width: 100%;
    vertical-align: middle;
}
.block{
    display: block;
}