/*pc箭头导航样式*/
.slide_arrow {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  margin:auto;
  width:100%;
  @include remCalc(height,150);
  @include remCalc(line-height,150);
  //height: 5rem;
  //line-height: 5rem;
  cursor: pointer;
}
.slide_arrow .iconfont {
  @include fontDpr(40px);
  //font-size: 5rem;
  color: #000000;
  opacity: 0.5;
  filter:alpha(opacity=50);
}
.slide_tab{
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  @include remCalc(height,50);
  @include remCalc(line-height,50);
  text-align: center;
}
.slide_tab i{
  display: inline-block;
  @include remCalc(height,15);
  @include remCalc(width,15);
  @include remCalc(margin-right,15);
  border-radius: 50%;
  background-color: rgba(0,0,0,.6);

}
.slide_tab i.cur{
  background-color: $base-color;
}