/**
 * Created by sunchengbin on 15/6/29.
 */
.dialog-wraper{
    position:absolute;
    background-color : #fff;
    border-radius: 5px;
    font-size: 1.4rem;
    color:#666;
}
.dialog-body,.dialog-top,.dialog-footer{
    padding:10px;
}
.dialog-body{
    overflow:auto;
}
.dialog-footer{
    text-align: right;
}
.dialog-footer a{
    display: inline-block;
    padding: 2px 5px;
    border-radius: 3px;
    color: #43CB9C;
}
.ca-btn{
    margin-right:30px;
}
.cf-btn{

}
.dialog-cover{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color: black;
    opacity: 0.4;
    filter: Opacity(40);
}
