/**
 * Created by sunchengbin on 15/6/29.
 */
.dialog-wraper{
    position:absolute;
    background-color : #fff;
    border-radius: 5px;
}
.dialog-body,.dialog-top,.dialog-footer{
    padding:10px;
}
.dialog-body{
    overflow:auto;
}
.dialog-footer{
    text-align: center;
}
.dialog-footer a{
    display: inline-block;
    padding:2px 5px;
    border-radius: 3px;
    background-color: #01579b;
    color:#fff;
}
.cf-btn{
    margin-right:10px;
}
.dialog-cover{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color: black;
    opacity: 0.4;
    filter: Opacity(40);
}